@page
@model Williams_AD_Website.Pages.DesignModel
@{
}

<div class="text-center">
    <div class="row min-div-height background-blue p-5">
        <div class="row col-12">
            <div class="col-lg-4 col-sm-12 logo-div" data-scroll data-scroll-speed="9" data-scroll-class="appear" data-scroll-repeat="true">
                    <h1 class="title-orange-theme logo-text">LOGOS</h1>
                    <img class="img-fluid logo" src="assets/Logo L.svg"/>
            </div>
            <div class="col-lg-4 col-sm-12 logo-div" data-scroll data-scroll-speed="6" data-scroll-class="appear" data-scroll-repeat="true">
                    <h1 class="title-orange-theme logo-text">WEB ART</h1>
                    <img class="img-fluid logo" src="assets/Logo Brush.svg"/>
            </div>
            <div class="col-lg-4 col-sm-12 logo-div" data-scroll data-scroll-speed="3" data-scroll-class="appear" data-scroll-repeat="true">
                    <h1 class="title-orange-theme logo-text">BRANDING</h1>
                    <img class="img-fluid logo" src="assets/Logo Brand.svg"/>
            </div>
            <div class="col-12">
                <p class="text-black-theme">
                    Williams A&D was created with the idea of being a "one stop shop" for businesses looking to  create a front facing web application by combining expertise in both high function web applications, with the latest trends in digital design.
                </p>
            </div>
        </div>
    </div>
    <div class="row min-div-height background-black align-items-center" id="logos">
        <div class="col-12 al">
            <h1 class="title-orange-theme m-3">LOGOS</h1>
            <h1 class="small-title-orange-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="4" data-scroll-class="appear" data-scroll-repeat="true">VECTOR DESIGNS</h1>
            <h1 class="small-title-orange-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-4" data-scroll-class="appear" data-scroll-repeat="true">ALL RESOLUTIONS</h1>
            <h1 class="small-title-orange-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="4" data-scroll-class="appear" data-scroll-repeat="true">ALL FILE TYPES</h1>
            <h1 class="small-title-orange-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-4" data-scroll-class="appear" data-scroll-repeat="true">AND OPTIONAL ANIMATION</h1>
            <a asp-area="" asp-page="/Contact">
                <button type="button" class="btn-primary btn btn-lg">GET A QUOTE</button>
            </a>
        </div>
    </div>
    <div class="row min-div-height background-blue align-items-center" id="webart">
        <div class="col-12">
            <h1 class="title-orange-theme m-3">WEBART</h1>
            <h1 class="small-title-black-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-4" data-scroll-class="appear" data-scroll-repeat="true">VECTOR AND PAINTED DESIGNS</h1>
            <h1 class="small-title-black-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="4" data-scroll-class="appear" data-scroll-repeat="true">ALL RESOLUTIONS</h1>
            <h1 class="small-title-black-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-4" data-scroll-class="appear" data-scroll-repeat="true">ALL FILES TYPES</h1>
            <h1 class="small-title-black-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="4" data-scroll-class="appear" data-scroll-repeat="true">START A COMMISSION TODAY</h1>
            <a asp-area="" asp-page="/Contact">
                <button type="button" class="btn-primary btn btn-lg">GET A QUOTE</button>
            </a>
        </div>
         
    </div>
    <div class="row min-div-height background-black align-items-center" id="branding">
        <div class="col-12">
            <h1 class="title-orange-theme m-3">BRANDING</h1>
            <h1 class="small-title-orange-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-4" data-scroll-class="appear" data-scroll-repeat="true">BUSINESS CARDS</h1>
            <h1 class="small-title-orange-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="4" data-scroll-class="appear" data-scroll-repeat="true">CUSTOM PROMOTIONAL EMAILS</h1>
            <h1 class="small-title-orange-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-4" data-scroll-class="appear" data-scroll-repeat="true">LETTER HEADS</h1>
            <h1 class="small-title-orange-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="4" data-scroll-class="appear" data-scroll-repeat="true">BANNERS, POSTERS, SIGNS</h1>
            <h1 class="small-title-orange-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-4" data-scroll-class="appear" data-scroll-repeat="true"">ANYTHING TO COMMUNICATE YOUR BUSINESS</h1>
            <a asp-area="" asp-page="/Contact">
                <button type="button" class="btn-primary btn btn-lg">GET A QUOTE</button>
            </a>
        </div>
    </div>
</div>
