@page
@model Williams_AD_Website.Pages.DigitalMediaModel
@{
}

<div class="text-center background-blue row p-5 justify-content-center">
    <div class="text-center">
        <h1 class="gallery-disclaimer-text">The gallery is a bit small right now, but make sure to check back for frequent additions :)</h1>
    </div>
    <div class="row min-div-height align-items-center p-3">
        <div class="col-lg-6 col-sm-12">
            <img class="img-fluid" src="assets/Duck Face no bg.png"/>
        </div>
        <div class="col-lg-6 col-sm-12">

            <img class="img-fluid" src="assets/Male Portrait no BG.png"/>
        </div>
    </div>
    <div class="row min-div-height align-items-center  p-3">
        <div class="col-lg-6 col-sm-12">
            <img class="img-fluid" src="assets/1 hour challenge 4.png"/>
        </div>
        <div class="col-lg-6 col-sm-12">
            <img class="img-fluid" src="assets/Book Stack.png"/>
        </div>
    </div>
</div>
