@page
@model IndexModel
@{
}

<div class="text-center large-index">
    <div class="row align-items-center background-black p-3 min-div-height" id="index-div-1">
        <div class="col-6">
            <h1 class="title-orange-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3" data-scroll-class="appear" data-scroll-repeat="true">EVERY BUSINESS NEEDS A WEBSITE</h1>
            <p class="text-orange-theme">Williams A&D is the best solution for making a big impact on the web.</p>
            <a asp-area="" asp-page="/Web">
                <button type="button" class="btn-primary btn btn-lg">Learn More</button>
            </a>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="assets/Mouse.png" />
        </div>
    </div>
    <div class="row align-items-center background-blue p-3 min-div-height" id="index-div-2">
        <div class="col-6">
            <img class="img-fluid" src="assets/brush.png" />
        </div>
        <div class="col-6">
            <h1 class="title-black-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="3" data-scroll-class="appear" data-scroll-repeat="true">DESIGN AND INITIATIVE</h1>
            <p class="text-black-theme">Design is an art. Your brand deserves a great artist to communicate your message effectively and aesthetically.</p>
            <a asp-area="" asp-page="/Design">
                <button type="button" class="btn-primary btn btn-lg">Learn More</button>
            </a>
        </div>
    </div>
    <div class="row align-items-center background-black p-3 min-div-height" id="index-div-3">
        <div class="col-12 text-center">
            <h1 class="title-orange-theme m-5" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3" data-scroll-class="appear" data-scroll-repeat="true">DIGITAL MEDIA</h1>
            <p class="text-orange-theme m-3" data-scroll data-scroll-direction="horizontal" data-scroll-speed="3" data-scroll-class="appear" data-scroll-repeat="true">Williams A&D uses the newest technologies to create the highest quality product. From logos to full digital painting, Williams A&D can do it the best.</p>
            <a asp-area="" asp-page="/DigitalMedia">
                <button type="button" class="btn-primary btn btn-lg m-3">Tour Gallery</button>
            </a>
        </div>
    </div>
</div>

<div class="text-center small-index" data-scroll-section>
    <div class="row align-items-center background-black p-3 min-div-height" id="index-div-1">
        <div class="col-12">
            <h1 class="title-orange-theme">EVERY BUSINESS NEEDS A WEBSITE</h1>
            <img class="img-fluid" src="assets/Mouse.png" />
            <p class="text-orange-theme">Williams A&D is the best solution for making a big impact on the web.</p>
            <a asp-area="" asp-page="/Web">
                <button type="button" class="btn-primary btn btn-lg">Learn More</button>
            </a>
        </div>
    </div>
    <div class="row align-items-center background-blue p-3 min-div-height" id="index-div-2">
        <div class="col-12">
            <h1 class="title-black-theme">DESIGN AND INITIATIVE</h1>
            <img class="img-fluid" src="assets/brush.png" />
            <p class="text-black-theme">Design is an art. Your brand deserves a great artist to communicate your message effectively and aesthetically.</p>
            <a asp-area="" asp-page="/Design">
                <button type="button" class="btn-primary btn btn-lg">Learn More</button>
            </a>
        </div>
    </div>
    <div class="row align-items-center background-black p-3 min-div-height" id="index-div-3">
        <div class="col-12 text-center">
            <h1 class="title-orange-theme m-5">DIGITAL MEDIA</h1>
            <p class="text-orange-theme m-3">Williams A&D uses the newest technologies to create the highest quality product. From logos to full digital painting, Williams A&D can do it the best.</p>
            <a asp-area="" asp-page="/DigitalMedia">
                <button type="button" class="btn-primary btn btn-lg m-3">Tour Gallery</button>
            </a>
        </div>
    </div>
</div>
