@page
@model Williams_AD_Website.Pages.WebModel
@{
}
<div class="text-center large-index">
<div class="text-center background-blue row p-5 justify-content-center">
    <h1 class="title-black-theme">PICK YOUR PLATFORM</h1>
    <div class="row align-items-center p-3">
        <div class="col-6">
            <p class="text-black-theme" data-scroll data-scroll-direction="vertical" data-scroll-speed="6" data-scroll-class="appear" data-scroll-repeat="true">
                Williams A&D is experienced in working with multiple web platforms and can build your web solution on which you prefer. Don't have a preference? Our expertise can get you setup with the platforms that will best suite the needs of your business.
            </p>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="assets/Woman Thinking.png" />
        </div>
    </div>
    <div class="row align-items-center p-3">
        <div class="col-4"></div>
        <div class="col-6">
            <div data-scroll data-scroll-direction="horizontal" data-scroll-speed="4" data-scroll-class="appear" data-scroll-repeat="true">
                <p class="text-black-theme" data-scroll data-scroll-direction="vertical" data-scroll-speed="2" data-scroll-class="appear" data-scroll-repeat="true">
                    A website is a big project. We  consult with you on everything a business may need before getting started. Additionally, we keep you informed on every step of the process during development.
                </p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <h1 class="title-black-theme">SCALABILITY MATTERS</h1>
    <div class="row align-items-center p-3">
        <div class="col-6">
            <img class="img-fluid" src="assets/cat in a box.png" />
        </div>
        <div class="col-6">
            <p class="text-black-theme" data-scroll data-scroll-direction="vertical" data-scroll-speed="6" data-scroll-class="appear" data-scroll-repeat="true">
                The goal of every business is always to grow and expand into other locations, avenues and solutions for helping and connecting with their customers. We pride ourselves on getting you started with a web solution that scales easily for any business.
            </p>
        </div>
    </div>
    <div class="row align-items-center p-3">
        <div class="col-4"></div>
        <div class="col-6">
            <div data-scroll data-scroll-direction="horizontal" data-scroll-speed="4" data-scroll-class="appear" data-scroll-repeat="true">
                <p class="text-black-theme" data-scroll data-scroll-direction="vertical" data-scroll-speed="2" data-scroll-class="appear" data-scroll-repeat="true">
                    From one online store or location front, to nationwide provider, our solutions allow for the easy addition of microservices and other solutions, meaning your web solution is ever expanding, not being redone from scratch.
                </p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <h1 class="title-black-theme">WEB MAINTENANCE</h1>
    <div class="row align-items-center p-3">
        <div class="col-6">
            <p class="text-black-theme" data-scroll data-scroll-direction="vertical" data-scroll-speed="6" data-scroll-class="appear" data-scroll-repeat="true">
                Websites need frequent maintenance as browsers and user software change, and aspects of your business change as well. You may find yourself wanting to add new employees or customer testimonies to your website to proudly display.
            </p>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="assets/Wrench Animation/Wrench animated0001.svg" id="wrench" />
        </div>
    </div>
    <div class="row align-items-center p-3">
        <div class="col-4"></div>
        <div class="col-6">
            <div data-scroll data-scroll-direction="horizontal" data-scroll-speed="4" data-scroll-class="appear" data-scroll-repeat="true">
                <p class="text-black-theme">
                    Whether you are wanting to keep your website we built maintained with us, or are looking to outsource your current web maintenance to something more affordable and reliable, Williams A&D can easily accommodate your needs.
                </p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</div>

<!--moble-->

 <div class="text-center small-index">
<div class="text-center background-blue row p-5 justify-content-center">
    <h1 class="title-black-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="3" data-scroll-class="appear" data-scroll-repeat="true">PICK YOUR PLATFORM</h1>
    <div class="row align-items-center p-3">
        <div class="col-12">
            <p class="text-black-theme">
                Williams A&D is experienced in working with multiple web platforms and can build your web solution on which you prefer. Don't have a preference? Our expertise can get you setup with the platforms that will best suite the needs of your business.
            </p>
        </div>
        <div class="col-12">
            <img class="img-fluid" src="assets/Woman Thinking.png" />
        </div>
    </div>
    <div class="row align-items-center p-3">
        <div class="col-12">
            <div>
                <p class="text-black-theme">
                    A website is a big project. We  consult with you on everything a business may need before getting started. Additionally, we keep you informed on every step of the process during development.
                </p>
            </div>
        </div>
    </div>
    <h1 class="title-black-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3" data-scroll-class="appear" data-scroll-repeat="true">SCALABILITY MATTERS</h1>
    <div class="row align-items-center p-3">
        <div class="col-12">
            <p class="text-black-theme">
                The goal of every business is always to grow and expand into other locations, avenues and solutions for helping and connecting with their customers. We pride ourselves on getting you started with a web solution that scales easily for any business.
            </p>
        </div>
        <div class="col-12">
            <img class="img-fluid" src="assets/cat in a box.png" />
        </div>
    </div>
    <div class="row align-items-center p-3">
        <div class="col-12">
            <div>
                <p class="text-black-theme">
                    From one online store or location front, to nationwide provider, our solutions allow for the easy addition of microservices and other solutions, meaning your web solution is ever expanding, not being redone from scratch.
                </p>
            </div>
        </div>
    </div>
    <h1 class="title-black-theme" data-scroll data-scroll-direction="horizontal" data-scroll-speed="3" data-scroll-class="appear" data-scroll-repeat="true">WEB MAINTENANCE</h1>
    <div class="row align-items-center p-3">
        <div class="col-12">
            <p class="text-black-theme">
                Websites need frequent maintenance as browsers and user software change, and aspects of your business change as well. You may find yourself wanting to add new employees or customer testimonies to your website to proudly display.
            </p>
        </div>
        <div class="col-12">
            <img class="img-fluid" src="assets/Wrench Animation/Wrench animated0001.svg" id="wrench"/>
        </div>
    </div>
    <div class="row align-items-center p-3">
        <div class="col-12">
            <div>
                <p class="text-black-theme">
                    Whether you are wanting to keep your website we built maintained with us, or are looking to outsource your current web maintenance to something more affordable and reliable, Williams A&D can easily accommodate your needs.
                </p>
            </div>
        </div>
    </div>
</div>
</div>